<div class="row">
    <div class="col-6">
        <input type="submit" value="Create" class="btn btn-info form-control" />
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" href="@Url.Action("Index")">Back to List</a>
    </div>
</div>